.page-footer {
    background-color: $address-bcg-color;
    padding: 60px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    
}


.footer-logo {
    display: block;
    margin-bottom: 20px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $white-color;
}

.logotype-color {
    color: $accent;
}



.address-list {
    font-style: normal;

}

.address-list .footer-contact,
.address-item {
    font-size: 14px;
    line-height: 1.71;
}

.address-list >.item:not(:last-child) {
    margin-bottom: 12px;
}

.address-item {
    color: $white-color;

    transition: color $transition-time $transition-cubic;
}

.footer-contact {
    color: $footer-contact-color;

    transition: color $transition-time $transition-cubic;
}

.address-item:hover,
.address-item:focus,
.footer-contact:hover,
.footer-contact:focus {
    color: $accent;
}

.adress-container {
    margin-right: 70px;
}

.social-link-container {
    margin-right: 93px;
}

.footer-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;

    color: $white-color;
}

.footer-list {
    padding-bottom: 0;
}

.footer-link {
    color: $white-color;
    background-color: $background-footer-link;

    transition: background-color $transition-time $transition-cubic;
}

.footer-link:hover,
.footer-link:focus {
    background-color: $accent;
}


.footer-icon {
    fill: currentColor;
}
