.page-header {
    border-bottom: 1px solid;
    border-color: $header-border-color;
}
.navigation__list {
    display: flex;
    margin-left: 93px;

    & .navigation__item:not(:last-child) {
        margin-right: 50px;
    }
}

.contact__list {
    display: flex;

    & .contact__item:not(:last-child) {
        margin-right: 50px;
    }
}

.navigation__link,
.contact__link  {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $basic-logo-color;

    transition: color $transition-time $transition-cubic;
}

.contact__link {
     color: $add-text-color;  
}


.logo__color,
.contact__link:hover,
.contact__link:focus {
    color: $accent;
    
}

.navigation__link {
    position: relative;
    &:hover,
    &:focus {
        color: $accent;
    }
    &.current {
        color: $accent;
    }
    &.current::after {
        content: '';
        position: absolute;
        bottom: 0;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent;
    }
}



.navigation,
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__item {
    color: $add-text-color;
}

.icon-envelope {
    margin-right: 10px;

    fill: currentColor;
}

.icon-smartphone {
    margin-right: 10px;

    fill: currentColor;

}
