.features {
    padding-bottom: 0;
}

.group-list {
    display: flex;
}

.group-list__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.group-list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: $additional-bcg-color;


}

.group-list__title {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
}
.group-list__text {
    font-size: 14px;
    line-height: 1.71;
    color: $add-text-color;
}
